<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @profile.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @profile.category.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user.username %>
</p>
<% if user_signed_in? && current_user == @profile.user%>
<%= link_to 'Edit', edit_profile_path(@profile) %>
<% end %>
<% if user_signed_in? && current_user == @profile.user%>
<%= link_to "Home", root_path%>
<% else %>
<%= link_to "Back", root_path %>
<% end %>