<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @profile.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @profile.category.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user.username %>
</p>
<% if user_signed_in? || current_user.profile.exists? %>
<%= link_to 'Edit', edit_profile_path(@profile) %>
<% else %>
<%= link_to 'Login', new_user_session_path %>
<%= link_to 'Sign Up', new_user_registration_path %>
<% end %>
<%= link_to "Back", :back %>