<p id="notice"><%= notice %></p>

<div class="category-name">
  <p>
    <%= @category.name %>
  </p>
</div>

<div class="card-wrp">
  <div class="card-deck">
    <% @profiles.each do |profile| %>

    <div class="card" style="min-width: 18rem;">
      <%= image_tag profile.picture, class: 'card-img-top', width: 200 if profile.picture.attached?%>
      <div class="card-body">
        <h5 class="card-title"><%= profile.title %></h5>
        <p class="card-text"><%= profile.description %></p>
        <%= link_to 'Show', profile, class: "btn btn-primary" %>
      </div>

    </div>
    <% end %>
  </div>
</div>

<div>


  <% if user_signed_in? && current_user.role == "admin" %>
  <%= link_to 'Edit', edit_category_path(@category) %> |
  <% end %>
  <%= link_to 'Back', :back %>