<p id="notice"><%= notice %></p>

<p>
  <strong>Account number:</strong>
  <%= @account.account_number %>
</p>

<p>
  <strong>First name:</strong>
  <%= @account.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @account.last_name %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @account.mobile %>
</p>

<p>
  <strong>Address:</strong>
  <%= @account.address %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @account.postcode %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @account.suburb %>
</p>

<p>
  <strong>Social media:</strong>
  <%= @account.social_media %>
</p>

<p>
  <strong>Business name:</strong>
  <%= @account.business_name %>
</p>

<p>
  <strong>Abn:</strong>
  <%= @account.abn %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @account.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @account.website %>
</p>

<p>
  <strong>email:</strong>
  <%= @account.user.email %>
</p>

<% if user_signed_in? &&  current_user.profile.blank? %>
<%= link_to "Create Profile", new_profile_path %>
<% else %>
<%= link_to "View Profile", profile_path(current_user.profile) %>
<%end%>
<% if user_signed_in? && current_user %>
<%= link_to "Update Account", edit_account_path %>
<%end%>

<%= link_to 'Back', root_path %>