<p id="notice"><%= notice %></p>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="card-header">
      <h5 class="card-title"><strong>Account number:</strong><%= @account.account_number %></h5>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>First name:</strong><%= @account.first_name %></li>
    <li class="list-group-item"><strong>Last name:</strong><%= @account.last_name %></li>
    <li class="list-group-item"><strong>email:</strong><%= @account.user.email %></li>
    <li class="list-group-item"><strong>Mobile:</strong><%= @account.mobile %></li>
    <li class="list-group-item"><strong>Address:</strong><%= @account.address %></li>
    <li class="list-group-item"><strong>Postcode:</strong><%= @account.postcode %></li>
    <li class="list-group-item"><strong>Suburb:</strong><%= @account.suburb %></li>
    <li class="list-group-item"><strong>Social media:</strong><%= @account.social_media %></li>
    <li class="list-group-item"><strong>Business name:</strong><%= @account.business_name %></li>
    <li class="list-group-item"><strong>Abn:</strong><%= @account.abn %></li>
    <li class="list-group-item"><strong>Phone:</strong><%= @account.phone %></li>
    <li class="list-group-item"><strong>Website:</strong><%= @account.website %></li>

  </ul>
</div>

<% if user_signed_in? &&  current_user.profile.blank? %>
<%= link_to "Create Profile", new_profile_path %>
<% else %>
<%= link_to "View Profile", profile_path(current_user.profile) %>
<%end%>
<% if user_signed_in? && current_user %>
<%= link_to "Update Account", edit_account_path %>
<%= link_to "Delete Account", account_path(@account), method: :delete, data: { confirm: 'Are you sure?' } %>
<%end%>

<%= link_to 'Back', root_path %>